.custom-radio {
  width: 10px;
  height: 10px;
  background-color: #fff;
}
.custom-radio div {
  box-shadow: 0 0 0 5px #fff;
}
.custom-radio input:checked + div {
  @apply bg-blue-500;
  box-shadow: 0 0 0 2.5px #fff, 0 0 0 5px rgb(59 130 246 / var(--tw-bg-opacity));
}
